/*

app-template.css overrides

remove this comment if used
remove this file if not

*/

.home-container {
    display: flex;
    flex-direction: row;
}
.todoapp {
    flex: 1;
}
.monitor {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    max-height: 550px;

}

.node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}
